{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    },
    "browser": {
      "plugins": ["syntax-dynamic-import"]
    },
    "server": {
      "plugins": ["dynamic-import-node"]
    }
  },
  "plugins": [
    [
      "react-loadable/babel", {
      "server": true,
      "webpack": true,
    }
    ],
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver", {
      "root": ["./app/js"],
      "alias": {
        "Events": "components/Events",
        "Items": "components/Items",
        "pages": "pages"
      }
    }
    ]
  ]
}
